<a href="https://colab.research.google.com/github/GWC-VT/IntroMLWorkshop/blob/main/gwc_vt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import root_mean_squared_error

# Build DataFrame

In [ ]:
filename = "/content/sample_data/california_housing_train.csv"
df = pd.read_csv(filename, header = 0)

Say we want to print the dataframe:

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
np.sum(df.isnull(), axis = 0)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df = df.drop(columns = ['longitude', 'latitude'])

Ok, so now we have the columns we want. It's time to pick a label and the features. Let's use the median house value as the label we're trying to predict

In [ ]:
y_train = df['median_house_value']
X_train = df.drop(columns = 'median_house_value', axis = 1)

Now, it's important to have both training and test data. A lot of the time, you'll separate this out manually. However, with this dataset, we're given separate test data already!

In [ ]:
filename_test = "/content/sample_data/california_housing_test.csv"
df_test = pd.read_csv(filename_test, header = 0)
df_test = df_test.drop(columns = ['longitude', 'latitude'])
y_test = df['median_house_value']
X_test = df.drop(columns = 'median_house_value', axis = 1)

# Model Creation
Now, we have separate training and test sets! Time to make our model

In [ ]:
def train_test_DT(X_train, X_test, y_train, y_test, depth, leaf=1, crit='poisson'):
  model = DecisionTreeRegressor(max_depth= depth, min_samples_leaf = leaf, criterion = crit)
  model.fit(X_train, y_train)
  predictions = model.predict(X_test)
  mse_score = root_mean_squared_error(y_test, predictions)
  return mse_score

Now, we let's compare how the hyperparameters affect our result :)

In [ ]:
max_depth_range = [1,3,5,6,30]
mse = []

for md in max_depth_range:
  print(md)
  mse_score = train_test_DT(X_train, X_test, y_train, y_test, md, 1, 'poisson')
  print(mse_score)
  mse.append(mse_score)

1
96516.2443419756
3
81765.47163911315
5
76653.69617811142
6
74483.1371628356
30
659.8094644757414